.red-color {
	color: red !important;
}

.add-button-center {
	margin-left: auto !important;
	margin-right: auto !important;
	display: block;
}

.settings-add-button {
	float: right;
    padding: 0px 4px;
    font-size: 25px;
    cursor: pointer;
}

.settings-add-button.green {
	color: green !important;
}

.settings-add-button.red {
	color: red !important;
}

.align-center {
	text-align: center !important;
}

.padding-top-5 {
	padding-top: 5px;
}

.font-size-40 {
	font-size: 40px;
}

.delete-button-income-source {
	float: right;
    background-color: red;
}