<ion-view title="Add Outcome">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Amount</span>
                <input type="number" placeholder="" ng-model="AddOutcome.add_outcome.amount">
            </label>
            <label class="item item-select">
                <span class="input-label">To</span>
                <select ng-model="AddOutcome.add_outcome.for_name">
                    <option ng-repeat="outcomeSource in AddOutcome.outcomeSources">{{outcomeSource.source_name}}</option>
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">Date</span>
                <input type="date" placeholder="" ng-model="AddOutcome.add_outcome.created">
            </label>
        </form>
        <a menu-close="" ng-click="AddOutcome.addOutcome()" class="button button-balanced button-clear button-large icon ion-android-add-circle add-button-center"></a>
    </ion-content>
</ion-view>