<ion-view title="Expences">
    <ion-content padding="'true'" class="has-header">
        <div class="button-bar"></div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">From</span>
                <input type="date" placeholder="" ng-model="Expence.fromDate" ng-change="Expence.dateChange()">
            </label>
            <label class="item item-input">
                <span class="input-label">To</span>
                <input type="date" placeholder="" ng-model="Expence.toDate" ng-change="Expence.dateChange()">
            </label>
        </form>
        <!-- <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form> -->
        <ion-list>
            <ion-item menu-close="" ng-repeat="expence in Expence.expences ">{{expence.for_name}} - {{expence.created | date : 'mm/dd/yyyy'}}
            <span class="float-right"> Rs.{{expence.amount}}</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>