<ion-view title="Settings">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <ion-toggle toggle-class="toggle-assertive">Auto Synch</ion-toggle>
            <ion-item menu-close="">Add Income Source 
            <a menu-close="" href="#/page12" class="ion-android-add-circle settings-add-button green"></a>
        	</ion-item>
        	<ion-item menu-close="">Add Outcome Source 
            <a menu-close="" href="#/page13" class="ion-android-add-circle settings-add-button red"></a>
        	</ion-item>
        </form>        
    </ion-content>
</ion-view>