<ion-view title="Tabs Controller">
    <ion-tabs class="tabs-dark tabs-icon-top">
        <ion-tab title="Home" icon="ion-plus-circled" href="#/page2/page6">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Settings" icon="ion-android-settings" href="#/page2/page7">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="About" icon="ion-android-contact">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Logout" icon="ion-android-exit">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>